// #TYPOGRAPHY

// Headings
%alpha {
    font-family: "Playfair Display", serif;
    font-weight: normal;
    -webkit-font-smoothing: auto;
}

// Body Text
// Meta Data
%beta, %gamma {
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

// Menu
// Footer
%delta {
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}





html {
	font-size: percentage($base-font-size / 16px);
    line-height: $base-line-height / $base-font-size;
}

body {
    @extend %beta;
//	-ms-text-size-adjust: 100%;
//	-webkit-text-size-adjust: 100%;
//	-webkit-font-smoothing: antialiased;
//	text-rendering: optimizeLegibility;
	color: $dark;
}




/* Headings */

h1, .h1 { 
    @extend %alpha;
    @extend .color-accent;
    @extend .italic;
    font-size: rem(45px);
    line-height:1.25;
    margin-top: rhythm(2);
    margin-bottom: rhythm(1);
}

h2, .h2 {
    @extend %alpha;
	@extend .color-accent;
	@extend .italic;
    font-size: rem(30px);
    line-height: 1.25;
    margin-top: rhythm(2);
    margin-bottom: rhythm(1);
}

h3, .h3 {
    @extend %alpha;
    font-size: rem(20px);
    margin-top: rhythm(2);
    margin-bottom: rhythm(1);
}

h4, .h4 {
    @extend %gamma;
    @extend .color-accent;
    @extend .caps;
    font-style: normal;
    font-size: rem(11px);
    margin-top: rhythm(2);
    margin-bottom: rhythm(1);
}





/* Paragraphs */

p {
	margin-top: 0;
	font-size: 1rem;

    @if $editor-style {
    	margin-bottom: rhythm(1.5);
    } @else {
    	margin-bottom: rhythm(1);
    }
}





/* Links */
a {
	text-decoration: none;
	// @extend .color-accent;
	color: black;
	font-weight: 400;

	.entry-content {

	}
}





/* Lists */

acronym {
	border-bottom: 1px dotted $gray;
}





/* Blockquotes */

blockquote {
	@extend %alpha;

	position: relative;

	margin: rem(30px) 0;
	padding: rem(40px) rem(35px);

	@include query-above($lap) {
		margin: rem(60px) 0;
		padding: rem(40px) rem(70px);
	}

	@include fs(20px);
	font-style: italic;
	text-align: center;

	cite {
		@extend %beta;

		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;

		width: 100%;

		font-size: rem(12px);
		font-style: normal;
		font-weight: 200;

		background-color: white;

		a{
			color: $dark;
			border-bottom: 1px solid $dark;
		}
	}

	&:before {
		content: '';
		color: white;

		position: absolute;
		left: 50%;
		top: 0;

		width: 200px;
		max-width: 200px;
		height: 12px;
		display: block;

		background-image: url('assets/svg/separator-simple-inversed.svg');
		background-color: $secondary;

		transform: translateX(-50%);
	}

	&:after {
		content: "";

		position: absolute;
		left: 50%;
		bottom: 0;

		width: 200px;
		max-width: 200px;
		height: 2px;
		display: block;

		background-color: $borders;

		transform: translateX(-50%);
	}
}





/* Tables */

table {
	position: relative;
	z-index: 1;
	@include rhythm(margin-bottom, 2);
	width: 100%;
	border-top: 0;

	table-layout: fixed;

	th {
		text-align: left;
	}

	tr {
		// @todo why not use table--rows?
		border-bottom: 1px solid $light;
	}

	th, td {
		padding: $u/2;
		vertical-align: middle;

		font: {
			family: inherit;
			size: inherit;
		}
	}
}





/* Code */

pre {
	position: relative;

	@include rhythm(padding-left, 3);
	@include rhythm(padding-right, 3);
	@include rhythm(padding-top, 2);
	@include rhythm(padding-bottom, 2);
	@include rhythm(margin-bottom, 2); 

	border: 1px solid $light;

	@if $editor-style {
		font-size: inherit;
		line-height: inherit;
	}

	@if $editor-style == false{
		&:before {
			content: "\f121";

			position: absolute;
			top: 0;
			left: 0;

			display: block;
			padding: 3px;

			font-family: FontAwesome;
			font-size: 14px;

			color: white;
			background: $light;
		}
	}
}