.hide,
.hidden,
.assistive-text,
.screen-reader-text,
[hidden] {
  display: none; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.table-row {
  display: table-row; }

.table-row-group {
  display: table-row-group; }

.table-column {
  display: table-column; }

.table-column-group {
  display: table-column-group; }

.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow: scroll; }

.left {
  float: left; }

.right {
  float: right; }

.fit {
  max-width: 100%; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.static {
  position: static; }

.bold {
  font-weight: bold; }

.regular {
  font-weight: normal; }

.italic, .edit-post-visual-editor h1, .edit-post-visual-editor h2 {
  font-style: italic; }

.caps, .edit-post-visual-editor h4 {
  text-transform: uppercase; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-justify {
  text-align: justify; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

.nowrap {
  white-space: nowrap; }

.pointer-auto {
  pointer-events: auto; }

.pointer-none {
  pointer-events: none; }

.edit-post-visual-editor {
  /* Headings */
  /* Paragraphs */
  /* Links */
  /* Lists */
  /* Blockquotes */
  /* Tables */
  /* Code */
  /* Figures and Captions */
  /* Galleries */
  /**
 * Fluid images for responsive purposes.
 * Offset `alt` text from surrounding copy.
 */ }
  .edit-post-visual-editor h1, .edit-post-visual-editor h2, .edit-post-visual-editor h3, .edit-post-visual-editor blockquote, .edit-post-visual-editor .dropcap {
    font-family: "Playfair Display", serif;
    font-weight: normal;
    -webkit-font-smoothing: auto; }
  .edit-post-visual-editor body, .edit-post-visual-editor blockquote cite, .edit-post-visual-editor h4 {
    font-family: 'Merriweather', serif;
    font-weight: 300; }
  .edit-post-visual-editor html {
    font-size: 87.5%;
    line-height: 1.71429; }
  .edit-post-visual-editor body {
    color: #403b3c; }
  .edit-post-visual-editor h1 {
    color: #a33b61;
    font-size: 3.21429rem;
    line-height: 1.25;
    margin-top: 3.42857rem;
    margin-bottom: 1.71429rem; }
  .edit-post-visual-editor h2 {
    color: #a33b61;
    font-size: 2.14286rem;
    line-height: 1.25;
    margin-top: 3.42857rem;
    margin-bottom: 1.71429rem; }
  .edit-post-visual-editor h3 {
    font-size: 1.42857rem;
    margin-top: 3.42857rem;
    margin-bottom: 1.71429rem; }
  .edit-post-visual-editor h4 {
    color: #a33b61;
    font-style: normal;
    font-size: 0.78571rem;
    margin-top: 3.42857rem;
    margin-bottom: 1.71429rem; }
  .edit-post-visual-editor p {
    margin-top: 0;
    margin-bottom: 2.57143rem; }
  .mce-content-body .edit-post-visual-editor a {
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(#000000));
    background-image: linear-gradient(rgba(0, 0, 0, 0.25) 0%, #000000 100%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 95%; }
    @media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
      .mce-content-body .edit-post-visual-editor a {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(#000000));
        background-image: linear-gradient(rgba(0, 0, 0, 0.25) 0%, #000000 100%);
        background-position: 0 93%; } }
    .mce-content-body .edit-post-visual-editor a:hover {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#a33b61), to(#a33b61));
      background-image: linear-gradient(to bottom, #a33b61 0%, #a33b61 100%); }
  .edit-post-visual-editor a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    -webkit-transition: all 0.15s;
    transition: all 0.15s; }
    h1 .edit-post-visual-editor a, .site-title .edit-post-visual-editor a, h2 .edit-post-visual-editor a, h3 .edit-post-visual-editor a {
      color: #a33b61; }
    .edit-post-visual-editor a:hover {
      color: #a33b61; }
    .edit-link .edit-post-visual-editor a {
      margin: 0 6px; }
  .edit-post-visual-editor acronym {
    border-bottom: 1px dotted #b8b6b7; }
  .edit-post-visual-editor blockquote {
    position: relative;
    margin: 2.14286rem auto;
    padding: 2.85714rem 1.07143rem;
    font-size: 1.71429rem;
    line-height: 1.6;
    font-style: italic;
    -webkit-font-smoothing: antialiased;
    text-align: center; }
    @media only screen and (min-width: 900px) {
      .edit-post-visual-editor blockquote {
        margin: 3.21429rem auto;
        padding: 2.85714rem 2.14286rem; } }
    .edit-post-visual-editor blockquote cite {
      position: absolute;
      bottom: -6px;
      left: 0;
      z-index: 1;
      width: 100%;
      font-size: 0.85714rem;
      font-style: normal;
      font-weight: 200;
      background-color: white; }
    .edit-post-visual-editor blockquote:before {
      content: '';
      color: white;
      position: absolute;
      left: 50%;
      top: 0;
      width: 200px;
      max-width: 200px;
      height: 12px;
      display: block;
      background-image: url("assets/svg/separator-simple-inversed.svg");
      background-color: #fcc9b0;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .edit-post-visual-editor blockquote:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 200px;
      max-width: 200px;
      height: 2px;
      display: block;
      background-color: #e6e6e6;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .edit-post-visual-editor table {
    position: relative;
    z-index: 1;
    margin-bottom: 1.71429em;
    width: 100%;
    border-top: 0;
    table-layout: fixed; }
    .edit-post-visual-editor table th {
      text-align: left; }
    .edit-post-visual-editor table tr {
      border-bottom: 1px solid #e6e6e6; }
    .edit-post-visual-editor table th, .edit-post-visual-editor table td {
      padding: 12px;
      vertical-align: middle;
      font-family: inherit;
      font-size: inherit; }
  .edit-post-visual-editor pre {
    position: relative;
    padding-left: 2.57143em;
    padding-right: 2.57143em;
    padding-top: 1.71429em;
    padding-bottom: 1.71429em;
    margin-bottom: 1.71429em;
    border: 1px solid #e6e6e6;
    font-size: inherit;
    line-height: inherit; }
  .edit-post-visual-editor video {
    margin-bottom: 0.85714em; }
  .edit-post-visual-editor img {
    max-width: 100%;
    height: auto; }
  .edit-post-visual-editor .wp-caption {
    width: auto;
    margin-left: 0;
    margin-right: 0; }
    .edit-post-visual-editor .wp-caption img {
      display: block; }
  .edit-post-visual-editor .wp-caption-dd {
    font-size: 12px;
    padding: 14px 0;
    border-bottom: 2px solid #f2f2f2; }
  .edit-post-visual-editor .gallery {
    margin-left: -0.85714em;
    margin-top: -0.85714em; }
    .edit-post-visual-editor .gallery .gallery-item {
      margin: 0;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      border: 0 solid transparent;
      border-top-width: 0.85714em;
      border-left-width: 0.85714em; }
    .edit-post-visual-editor .gallery .gallery-caption {
      border: 0; }
  .edit-post-visual-editor .gallery-item img {
    margin: 0 auto; }
  .edit-post-visual-editor .intro {
    margin-bottom: 2.25em;
    font-size: 1.3125em;
    line-height: 1.75; }
    @media not screen and (min-width: 900px) {
      .edit-post-visual-editor .intro {
        font-size: 1.2em;
        color: #000000; } }
  @media only screen and (min-width: 1000px) {
    .edit-post-visual-editor .twocolumn {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 50px;
         -moz-column-gap: 50px;
              column-gap: 50px; } }
  .edit-post-visual-editor .dropcap {
    float: left;
    font-size: 5.42857em;
    line-height: 1.10526;
    line-height: 1;
    margin-top: -0.1em;
    margin-bottom: -0.15789em;
    margin-right: 0.15789em;
    color: #a33b61;
    text-shadow: 2px 2px 0px white, 4px 4px 0px #fcc9b0; }
  .edit-post-visual-editor .highlight {
    position: relative;
    padding: 0 8px;
    margin: 0 4px; }
    .edit-post-visual-editor .highlight:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -4px;
      left: 0;
      bottom: -4px;
      right: 0;
      background: rgba(252, 201, 176, 0.4); }
  .edit-post-visual-editor img {
    max-width: 100%;
    height: auto;
    font-style: italic; }
  .edit-post-visual-editor .aligncenter,
  .edit-post-visual-editor .alignnone,
  .edit-post-visual-editor .alignleft,
  .edit-post-visual-editor .alignright {
    display: block;
    width: auto !important;
    margin: 0;
    margin-bottom: 1.71429rem; }
    @media not screen and (min-width: 740px) {
      .edit-post-visual-editor .aligncenter,
      .edit-post-visual-editor .alignnone,
      .edit-post-visual-editor .alignleft,
      .edit-post-visual-editor .alignright {
        margin-bottom: 1.2rem; } }
    .archive__grid .edit-post-visual-editor .aligncenter, .archive__grid
    .edit-post-visual-editor .alignnone, .archive__grid
    .edit-post-visual-editor .alignleft, .archive__grid
    .edit-post-visual-editor .alignright {
      margin-bottom: 0; }
  .edit-post-visual-editor .aligncenter, .edit-post-visual-editor .alignnone {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .edit-post-visual-editor .aligncenter img, .edit-post-visual-editor .alignnone img {
      margin: 0 auto; }
  .edit-post-visual-editor .alignleft, .edit-post-visual-editor .alignright {
    margin-top: 1.71429rem;
    max-width: 50%; }
    p + .edit-post-visual-editor .alignleft, p + .edit-post-visual-editor .alignright {
      margin-top: 0; }
    p > .edit-post-visual-editor .alignleft:first-child,
    p > :first-child > .edit-post-visual-editor .alignleft:first-child, p > .edit-post-visual-editor .alignright:first-child,
    p > :first-child > .edit-post-visual-editor .alignright:first-child {
      margin-top: 0; }
  .edit-post-visual-editor .alignleft {
    float: left;
    margin-right: 3.42857rem; }
  .edit-post-visual-editor .alignright {
    float: right;
    margin-left: 3.42857rem; }
  @media not screen and (min-width: 740px) {
    .edit-post-visual-editor .alignleft {
      margin-right: 1.2rem; }
    .edit-post-visual-editor .alignright {
      margin-left: 1.2rem; } }
  .edit-post-visual-editor figure {
    max-width: 100%; }
    .edit-post-visual-editor figure img {
      display: block; }
  .edit-post-visual-editor .wp-block-separator.is-style-dots:before {
    color: inherit; }
  .edit-post-visual-editor .wp-block-separator {
    border-bottom-color: currentColor;
    margin: 1.5em auto; }
    .edit-post-visual-editor .wp-block-separator:not([class*="is-style"]) {
      max-width: 100px; }
  .edit-post-visual-editor .wp-block-audio[class] {
    margin-left: 0;
    margin-right: 0; }
    .edit-post-visual-editor .wp-block-audio[class] audio {
      width: 100%; }
  .edit-post-visual-editor .wp-block-cover[class][class] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.125em;
    margin-bottom: 1.125em; }
    .edit-post-visual-editor .wp-block-cover[class][class] p {
      position: relative;
      -webkit-transform: none;
              transform: none;
      margin-bottom: 0; }
  .edit-post-visual-editor p.wp-block-subhead {
    color: inherit; }
  .edit-post-visual-editor .wp-block-code,
  .edit-post-visual-editor .wp-block-preformatted pre,
  .edit-post-visual-editor .wp-block-verse pre,
  .edit-post-visual-editor pre.wp-block-verse {
    color: inherit; }
  .edit-post-visual-editor .editor-block-list__layout .editor-block-list__block[data-align=left] .editor-block-list__block-edit {
    margin-right: 0;
    margin-bottom: 0; }
  .edit-post-visual-editor .wp-block-image .alignleft,
  .edit-post-visual-editor .editor-block-list__layout .editor-block-list__block[data-align=left] .editor-block-list__block-edit > * {
    margin-top: 3em;
    margin-bottom: 3em; }
    @media only screen and (min-width: 899px) {
      .edit-post-visual-editor .wp-block-image .alignleft,
      .edit-post-visual-editor .editor-block-list__layout .editor-block-list__block[data-align=left] .editor-block-list__block-edit > * {
        margin-right: 3em;
        width: auto; } }
  .edit-post-visual-editor .editor-block-list__layout .editor-block-list__block[data-align=right] .editor-block-list__block-edit {
    margin-left: 0;
    margin-bottom: 0; }
  .edit-post-visual-editor .wp-block-image .alignright,
  .edit-post-visual-editor .editor-block-list__layout .editor-block-list__block[data-align=right] .editor-block-list__block-edit > * {
    margin-top: 3em;
    margin-bottom: 3em; }
    @media only screen and (min-width: 899px) {
      .edit-post-visual-editor .wp-block-image .alignright,
      .edit-post-visual-editor .editor-block-list__layout .editor-block-list__block[data-align=right] .editor-block-list__block-edit > * {
        margin-left: 3em;
        width: auto; } }
  .edit-post-visual-editor .wp-block-image .aligncenter > figcaption {
    display: block; }
  .edit-post-visual-editor figure.wp-block-pullquote {
    border: 0;
    padding: 0; }
  .edit-post-visual-editor .wp-block-pullquote[class] p {
    font: inherit; }
  .edit-post-visual-editor .wp-block-quote__citation,
  .edit-post-visual-editor .wp-block-quote cite,
  .edit-post-visual-editor .wp-block-quote footer {
    color: inherit; }
  .edit-post-visual-editor .wp-block-image .aligncenter > figcaption,
  .edit-post-visual-editor .wp-block-image .alignleft > figcaption,
  .edit-post-visual-editor .wp-block-image .alignright > figcaption,
  .edit-post-visual-editor .wp-block-image.is-resized > figcaption {
    display: block; }
  .edit-post-visual-editor .wp-block-gallery[class] {
    margin-left: 0; }
  .edit-post-visual-editor a.wp-block-button__link[class] {
    text-decoration: none; }
  .edit-post-visual-editor.editor-styles-wrapper {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 14px; }
  .edit-post-visual-editor .block-editor-block-list__layout .wp-block,
  .edit-post-visual-editor .editor-post-title__block {
    max-width: 850px; }
  .edit-post-visual-editor .editor-post-title__input {
    font-family: "Playfair Display", serif;
    font-weight: normal;
    font-style: italic; }
    @media only screen and (min-width: 900px) {
      .edit-post-visual-editor .editor-post-title__input {
        font-size: 4.28571rem; } }
    @media not screen and (min-width: 740px) {
      .edit-post-visual-editor .editor-post-title__input {
        font-size: 2.28571rem; } }
    @media not screen and (min-width: 900px) {
      .edit-post-visual-editor .editor-post-title__input {
        margin-bottom: 0.85714rem; } }
  .edit-post-visual-editor .wp-block-html .editor-plain-text {
    color: inherit; }
  .edit-post-visual-editor .wp-block-quote,
  .edit-post-visual-editor .wp-block-pullquote {
    color: inherit; }
  .edit-post-visual-editor .wp-block-quote p {
    font-size: 1em; }
  .edit-post-visual-editor .wp-block-quote:not(.is-large):not(.is-style-large) {
    padding-left: 0;
    border-left: 0; }
  .edit-post-visual-editor .wp-block-pullquote.aligncenter blockquote, .edit-post-visual-editor .wp-block-pullquote.alignnone blockquote, .edit-post-visual-editor .wp-block-pullquote:not([class*="align"]) blockquote,
  .edit-post-visual-editor .wp-block-quote.aligncenter blockquote,
  .edit-post-visual-editor .wp-block-quote.alignnone blockquote,
  .edit-post-visual-editor .wp-block-quote:not([class*="align"]) blockquote {
    margin-left: 0;
    margin-right: 0; }
  .edit-post-visual-editor .wp-block-pullquote.alignright blockquote,
  .edit-post-visual-editor .wp-block-quote.alignright blockquote {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0; }
  .edit-post-visual-editor .wp-block-pullquote.alignleft blockquote,
  .edit-post-visual-editor .wp-block-quote.alignleft blockquote {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0; }

/*# sourceMappingURL=editor.css.map */
