.widget .widget-inside .silk-about-me-widget-form .silk-about-me-widget-image-control.is-hidden {
	display: none;
}

.widget .widget-inside .silk-about-me-widget-form .silk-about-me-widget-image-control {
	border: 1px dashed #aaa;
	padding: 20px 0;
	text-align: center;
}

.widget .widget-inside .silk-about-me-widget-form .silk-about-me-widget-image-control.has-image {
	border: 1px dashed #aaa;
	padding: 10px;
	text-align: left;
}

.widget .widget-inside .silk-about-me-widget-form .silk-about-me-widget-image-control img {
	display: block;
	height: auto;
	margin-bottom: 10px;
	max-width: 100%;
}
