// ------ #STYLE GUIDE

$lap: 						899px;
$desk: 						1359px;

// ------ #COLORS
$light:     				#e6e6e6;
$gray:		   				#b8b6b7;
$dark:      				#403b3c;
$secondary:					#fcc9b0;
$accent:					#a33b61;
$black:						#000000;
$borders:					$light;

// ------ #COLOR HELPERS
.color-accent { color: $accent; }


// ------ #SETTINGS

$namespace:                 null;

// High-level base settings.
$base-font-size:            14px !default;
$base-line-height:          24px !default;

$base-spacing-unit:         $base-line-height;
$base-spacing-unit--small:  round($base-line-height / 2);
$base-spacing-unit--large:  round($base-line-height * 2);

$gallery-columns: 			true;
$editor-style:				false;





// ------ #OBJECTS

$enable-grid: 				true;
$enable-table--fixed: 		true;
$enable-table--cosy: 		true;
$enable-table--rows: 		true;
$enable-nav--stacked: 		true;