// @todo no more shame

body {
	background-color: white;
}

#page {
	overflow: hidden;
}

.content {
	margin-left: auto;
	margin-right: auto;
	max-width: em(1240px);
}

.site-header {
	@extend .content;
}

.site-content {
	@extend .clearfix;
	@extend .content;

	@include rhythm(margin-bottom, 10);
}

.site-footer {
	@extend %delta;

	background-color: black;
	color: white;

	padding: em(60px);

	a {
		color: white;
	}


}

.site-info {
	@extend .content;
}

hr {
	margin: $base-spacing-unit 0; 
}
//@todo to be moved in footer.scss or something

.footer-navigation{
	ul {
		@extend .nav;

		margin: em(30px) 0;

		@include fs(11px);
		text-transform: uppercase;
		text-align: center;

		li {
			a{
				padding: em(10px);
			}

			&:after {
				content: '/';
			}

			&:last-child:after {
				content: none;
			}
		}
	}

	.children {
		display: none;
	}
}

.site-info {
	@include fs(13px);
	text-align: center;
}