// @todo no more shame
// 

.color-accent {
	color: $accent;
}

.content {
	margin-left: auto;
	margin-right: auto;
	max-width: em(1290px);
}

.site-header {
	@extend .content;
}

.site-content {
	@extend .clearfix;
	@extend .content;
}

.site-footer {
	background-color: black;
	color: white;

	a {
		color: white;
	}
}

.site-info {
	@extend .content;
}