.flexslider {

	.slides > li:first-child:last-child {
		display: block;
	}


	.entry-title {
		font-size: rem(45px);
		line-height: 1.55;
		margin-bottom: rhythm(2/3);
	}

	.entry-header,
	.entry-content {
		max-width: 35em;
	}

	.wide + .narrow {
		margin-top: rem(-10px);
	}
	
	.entry-content {
		@extend .align-center;
	}

	@include query-below($small) {
		.flag,
		.flag__img,
		.flag__body {
			display: block;
			width: auto;
			padding: 0;
		}
	}

	.flag__img {
		img {
			display: inline-block;
		}
	}

	.flag__body {
		
	}

}