.site-footer {
	font-family: "Open Sans", sans-serif;

	background-color: black;
	color: white;

	@include query-above($lap) {
		padding: em(60px) 0;
	}

	& , a {
		color: white;
	}


}

.footer-navigation{
	ul {
		@extend .nav;

		margin: em(30px) 0;

		@include fs(11px);
		text-transform: uppercase;
		text-align: center;

		li {
			a{
				padding: em(10px);
			}

			&:after {
				content: '/';
			}

			&:last-child:after {
				content: none;
			}
		}
	}

	.children {
		display: none;
	}
}

.site-info {
	@extend .content;
	@include fs(13px);
	text-align: center;
}

.site-footer .site-logo {
	margin: 0 auto;
	filter: hue-rotate(-319deg) saturate(46.7%) brightness(1.555);
}