.site-header {
    @extend .align-center;
}

.site-branding {
	max-width: 100%;
    line-height: 1;
    display: inline-block;
    margin: rem(80px) 0;

    &.logo-image-only:after { 
        display: none; 
    }
}

.site-title {
    font-size: rem(107px);
    font-style: normal;
    margin: 0;
    text-transform: uppercase;
    line-height: 0.85;
    letter-spacing: 0.03em;

    @include query-below($desk) {
        font-size: rem(80px);
    }

    @include query-below($small) {
        font-size: rem(60px);
    }

    @extend %h1;

    .site-logo-link + & {
        margin-top: rhythm(1);
    }

    .site-logo-link + & > a:empty {
        display: block;
        margin-top: rhythm(-1);
    }

    svg {
        display: none;
        margin-bottom: -0.3em;
    }
}

html.svg .site-title {
    span {
        display: none;
    }

    svg {
        display: inline-block;
    }

    text {
        fill: $accent;
        stroke: #fff;
    }
}

.outline-0 text { stroke-width: 0; }
.outline-1 text { stroke-width: 1px; }
.outline-2 text { stroke-width: 2px; }
.outline-3 text { stroke-width: 3px; }

@include query-below($desk) {
    .outline-1 text { stroke-width: 0; }
    .outline-2 text { stroke-width: 1px; }
    .outline-3 text { stroke-width: 2px; }    
}

@include query-below($lap) {
    .outline-1 text,
    .outline-2 text { stroke-width: 0; }
    .outline-3 text { stroke-width: 1px; }    
}

@include query-below($small) {
    .outline-1 text,
    .outline-2 text,
    .outline-3 text {
        stroke-width: 0;
    }
}


.site-header .site-logo,
.site-title {
    margin-bottom: rem(10px);
}

.site-header .site-logo-link[style*="display: none"] + .site-title {
    margin-top: 0;
}

.site-description {
    @extend %gamma;
    @extend .relative;
    margin: 0;
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    font-size: rem(13px);
    letter-spacing: 0.03em;
}

.site-description-after {
    @extend .absolute;
    content: "";
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background: $secondary;
    bottom: 50%;
    left: 0;
    right: 0;
    z-index: -1;
}

.site-description-text {
    @extend .relative;
    z-index: 10;
    max-width: 100%;
    display: inline-block;
    margin: 0;
    padding-left: 1.5em;
    padding-right: 1.47em;
    background: white;

    &:empty {
        display: none;
    }
}