/* Jetpack - ShareDaddy */

div.sd-content{

	ul {
		margin-bottom: 0 !important;
	}
}


.sd-social {
	margin-bottom: -5px;
}


div.sharedaddy .sd-social h3.sd-title {
	@extend %beta;
	@include font-size(16px);
	@include baseline(16px);
}

div.sharedaddy {
	margin-bottom: 30px;
}





/* Jetpack - Comment Form */

form.contact-form {
	max-width: 30em;

	input[type='text'],
	input[type='email'],
	textarea {
		width: 100%;
		max-width: 100%;
		@include rhythm(margin-bottom, 2);
		@include rhythm(padding, 1);
		border: 1px solid $lightest;
	}

	.contact-submit {
		@extend %clearfix;
	}

	.pushbutton-wide {
		float: right;
	}
}





/* Jetpack - Infinite Scroll */

$infiniteBarH: 50px;

#infinite-footer {
	position: relative;
	z-index: 99;

	width: 100%;
	background: $dark;
	-webkit-font-smoothing: auto;
	transition: bottom .3s ease-in;

	@include query-above($lap){
		height: $infiniteBarH;
		position: fixed;
		bottom: 0 !important;
	}

	.container {
		width: 100% !important;
		min-height: $infiniteBarH;
		padding: 0;
		border: 0;
		background: none;
		transition: all .3s ease-in;
	}

	.blog-info,
	.blog-credits {
		display: inline-block;
		width: auto;
		@include font-size(14px);
		line-height: $infiniteBarH;
		color: $light;

		a {
			color: white;

			&:hover {
				color: white;
				text-decoration: none;
			}
		}
	}

	@include query-below($lap){
		.blog-credits{
			text-align: left;
		}
	}

	.blog-info {
		float: left;
		@include rhythm(margin-right, 1, 14px);
	}
}
//
//body.infinite-scroll{
//	position: relative;
//}


.infinite-loader {
	position: absolute;
	left: 50%;
	bottom: 0;

	@include query-below($lap) {
		bottom: -50px;
		z-index: 50;
	}
}


.infinite-scroll {

	.pagination {
		display: none;
	}

	.site-footer {
		transition: transform .3s ease-in-out;
		transform: translateY(100%);
	}

	&.infinity-end .site-footer {
		transform: none;
	}
}

// Older/Newer posts buttons' wrapper alignment on archive
body.infinite-scroll:not(.neverending){
	.archive__grid {
		@include rhythm(padding-bottom, 6);
	}

	#infinite-handle {
		position: absolute;
		@include rhythm(left, 3);
		bottom: 0;
	}
}



/* Jetpack - Related Posts */

.jp-relatedposts {
	clear: both;
}

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a{
	display: block;
}

div#jp-relatedposts div.jp-relatedposts-items-visual h4.jp-relatedposts-post-title,
div#jp-relatedposts div.jp-relatedposts-items p{
	font-size: inherit;
	line-height: inherit;
}

div#jp-relatedposts div.jp-relatedposts-items p.jp-relatedposts-post-context,
div#jp-relatedposts div.jp-relatedposts-items span.jp-relatedposts-post-context{
	@include font-size(12px);
}

.jp-relatedposts-post-img{
	@include rhythm(margin-bottom, 1);
}

div#jp-relatedposts h3.jp-relatedposts-headline{
	@include font-size(24px);
}



/* Jetpack - Slideshow Galleries */

.jetpack-slideshow.slideshow-window {
	border-radius: 0;
	@include rhythm(border-width, 1, 18px);
}




/* Jetpack - Sharedaddy */

.sd-content ul li{
	margin-bottom: $u/2 !important;
	display: inline-block !important;
}