.main-navigation {
	margin: 100px 0;
}

.nav--main {
	@extend .nav;
	text-align: center;
	color: $dark;
	border-top: rem(3px) solid $light;
	position: relative;
	z-index: 100;
	background: white;

	.sub-menu {
		@extend .nav;
		@extend .nav--stacked;
		background-color: $accent;
		color: white;
		text-align: left;
		padding: rhythm(2/3) rhythm(1);
		min-width: rem(240px);

		a {
			display: block;
			padding: rhythm(4/9) 0;
			border-bottom: 1px solid $secondary;
		}

		> .menu-item-has-children > a:after {
			border-top-color: transparent; 
			border-left-color: currentColor;
			border-width: rem(3px) rem(4px);
			right: 0;
			top: rem(18px);
		}

		.menu-item:hover {
			color: $secondary;
		}

		li:last-child > a {
			border-bottom: 0;
		}
	}

	.menu-item {
		@extend %delta;
		text-transform: uppercase;
		position: relative;

		&:hover {
			color: $accent;
			z-index: 10;
		}

		&.menu-item--mega {
			position: static;
		}
	}

	.menu-item-has-children > a {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: rem(32px);
			right: rem(22px);
			border: 0 solid transparent;
			border-width: rem(4px) rem(3px);
			border-top-color: currentColor;
		}
	}

	a {
		display: inline-block;
		color: currentColor;
		letter-spacing: 0.1em;
		padding: rhythm(1) rhythm(1.5);
	}
}

%sub-menu-transition-out {
	opacity: 0;
	transition: opacity .2s ease-out, visibility 0s .3s linear, left 0s .3s linear;
	left: 9999em;
	left: 100vw;
}

%sub-menu-transition-in {
	opacity: 1;
	transition: opacity .2s ease-in;
	left: 100%;
}

.sub-menu-wrapper {
	@extend %sub-menu-transition-out;
	position: absolute;
	top: 100%;
	padding: rhythm(1);
	transform: translate(-50%, 0);
	transform: translate3d(-50%, 0, 0);
	border: 1px solid $borders;
	background: white;

	.hover & {
		@extend %sub-menu-transition-in;
		left: 50%;
		visibility: visible;
	}

	&:empty {
		display: none !important;
	}

	.menu-item-has-children {
		position: relative;
	}

	.sub-menu {
		position: absolute;
		top: 0;
		margin-top: rhythm(-2/3);
	}

	.sub-menu {
		@extend %sub-menu-transition-out;
	}

	> .sub-menu {
		display: inline-block;
		position: static;
		margin-top: 0;
	}

	> .sub-menu,
	> .sub-menu .hover > .sub-menu {
		@extend %sub-menu-transition-in;
	}
}