html {
    height: 100%;
    background: white;
}

.site-content {
    @include rhythm(padding-top, 3);
    @include rhythm(padding-bottom, 7);

	@include query-below($lap){
		padding-bottom: 0;
	}
}

.site-header,
.site-content,
.site-footer {
	@include rhythm(padding-left, 1.5);
	@include rhythm(padding-right, 1.5);
}

#infinite-footer {
	@include rhythm(padding-left, 3);
	@include rhythm(padding-right, 3);
}

@include query-above(1000px) {

	.site-header,
	.site-content,
	.site-footer {
		@include rhythm(padding-left, 6);
		@include rhythm(padding-right, 6);
	}

	#infinite-footer {
		@include rhythm(padding-left, 10);
		@include rhythm(padding-right, 11);
	}

	.site-footer {
		@include rhythm(padding-right, 11);
	}
}

.container {
	// max-width: 85em;
	max-width: em(1250px);
	margin-left: auto;
	margin-right: auto;
}

.single, .post {
	.site-content .container {
		max-width: 80em;
	}
}

#page {
	@include query-above(1000px) {
		@include rhythm(padding-right, 4);
	}
}