.has_sidebar {

	@include query-above($lap) {

		.site-content {
			text-align: center;
		}

		.content-area,
		.sidebar--main,
		.featured-content {
			display: inline-block;
			text-align: left;
		}

		.content-area {
			width: rem(420px);
			margin-right: rem($gutter-lap);
		}

		.sidebar--main {
			width: rem(300px);
			vertical-align: top;
		}
 	}

	@include query-above($desk) {

		.content-area {
			margin-right: em(-340px);
		}

		.site-main {
			padding-right: em(400px);
		}

		.sidebar--main {
			width: em(340px);
		}
 	}
}

.sidebar--footer {
	margin: 0 auto;
}