.has_sidebar {

	@include query-above($lap) {

		.content-area {
			width: 100%;
			float: left;
			margin-right: em(-340px);
		}

		.site-main {
			padding-right: em(400px);
		}

		.sidebar--main {
			float: right;
			width: em(340px);
		}
 	}
}

.sidebar--footer {
	max-width: rem(340px);
	margin: 0 auto;
}