.nav--main {
	text-align: center;
	color: $dark;
	border-top: rem(3px) solid $light;
	position: relative;
	z-index: 100;
	background: white;

	> .menu-item:hover > a {
		color: $accent;
	}

	> .menu-item-has-children.hover > a,
	> .menu-item--mega.hover > a {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			z-index: 9999;
			top: 100%;
			left: 50%;
			width: rem(10px);
			height: rem(10px);
			margin-top: rem(-5px);
			transform: rotate(45deg);
			background: white;
			border-left: 1px solid $borders;
			border-top: 1px solid $borders;
		}
	}
}

.menu-toggle {
	background: none;
	border: 0;
	position: absolute;
	top: 0;
	height: 100%;
	padding-left: rem($gutter);
	padding-right: rem($gutter);

	.button-icon {
		font-size: rem(20px);
	}

	@include query-above($lap) {
		display: none;
	}
}

.main-navigation {
	@include admin-bar();	
}

@include query-below($lap) {

	.main-navigation {
		text-align: left;
		position: fixed;
		left: 0;
		z-index: 110;
		width: 100%;
		height: rem(60px);
		border-bottom: 1px solid $borders;
		background: white;

		.is--ancient-android .nav--is-open &{
			left: 70%;
		}
	}

	.nav--main {
		padding: 0 rem(40px) 0 rem(30px);

		border-top: 0;
		position: fixed;
		border-right: 1px solid $borders;
		// overwrite inline properties written by JS
		top: 0;
		right: 100%;
		left: auto;
		width: 70%;
		height: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		.menu-item--home {
			display: none !important;
		}

		.is--ancient-android .nav--is-open &{
			left: 0 !important;
			right: auto !important;
		}

		li, ul > li {
			text-align: left;
			display: block;
			width: 100%;
			overflow: hidden;

			> a {
				display: block;
				padding: rem(20px) 0;
			}

			&, > a {
				&:before, &:after {
					display: none;
				}
			}

			ul {
				background: white;
				display: block;

				@include query-above($lap) {
					padding-left: 2em;
				}
			}
		}

		> li {
			border-bottom: 1px solid $borders;
		}

		.sub-menu {
			padding-left: rem(12px);
		}

		.sub-menu-wrapper {
			display: none;
		}

		ul ul ul {
			padding-left: 0;
		}
	}

	.nav--toolbar--left_wrapper, .nav--toolbar--right_wrapper {
		line-height: normal;

		ul > li {
			width: auto;
			display: inline-block;

			&.menu-item a {
				padding-left: 0;
				padding-right: rem(20px);
			}

			a:before {
				display: inline-block;
			}
		}

	}

	.nav--toolbar--right_wrapper ul{
		float: none;
	}

	ul.nav--dropdown {
		margin-left: 0;
	}
}

@include query-above($lap) {
	li.nav--toolbar--left_wrapper,
	li.nav--toolbar--right_wrapper,
	li.nav-dropdown_wrapper {
		display: none;
	}
}