.nav--main {
	text-align: center;
	color: $dark;
	border-top: rem(3px) solid $light;
	position: relative;
	z-index: 100;
	background: white;

	> .menu-item:hover > a {
		color: $accent;
	}

	> .menu-item-has-children.hover > a,
	> .menu-item--mega.hover > a {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			z-index: 9999;
			top: 100%;
			left: 50%;
			width: rem(10px);
			height: rem(10px);
			margin-top: rem(-5px);
			transform: rotate(45deg);
			background: white;
			border-left: 1px solid $borders;
			border-top: 1px solid $borders;
		}
	}
}