#accordion-section-silklite_style_presets h3:before,
#accordion-section-silklite_colors h3:before,
#accordion-section-silklite_fonts h3:before,
a.badge-silk-pro {
	background-color: #c63d6f;
	border-radius: 2px;
	color: #ffffff !important;
	content: "Pro";
	float: right;
	font-size: 9px !important;
	font-weight: bold;
	-webkit-font-smoothing: subpixel-antialiased !important;
	letter-spacing: 1px;
	line-height: 1.5 !important;
	margin-left: 8px;
	margin-right: 32px;
	padding: 3px 6px !important;
	position: relative;
	text-transform: uppercase;
	top: 2px;
}

a.badge-silk-pro {
	float: none;
	margin: 0;
}

#accordion-section-silklite_style_presets .accordion-section-content,
#accordion-section-silklite_colors .accordion-section-content,
#accordion-section-silklite_fonts .accordion-section-content {
	background: #eaf9fe;
}
#accordion-section-silklite_style_presets .description,
#accordion-section-silklite_colors .description,
#accordion-section-silklite_fonts .description {
	color: #88b6ce;
	line-height: 1.65;
}
