 #masthead {
 	display: none;
 }

 #content {
 	margin-top: em(60px);
 }

.archive__grid {
	margin-left: em(-55px);

	> .grid__item {
		width: 50%;
		padding-left: em(55px);
		padding-bottom: em(30px);
		margin-bottom: em(55px);

		&:after {
			@extend .absolute;
			content: "";
			width: em(195px);
			bottom: 0;
			left: 50%;
			margin-left: em(-65px);
			border-bottom: 1px solid $secondary;
		}
	}

	.entry-header {
		text-align: center;
	}

	.entry-meta {
		text-transform: uppercase;
		font-size: rem(10px);

		a {
			color: currentColor;
		}

		sup {
			top: -0.285em;
		}

		.cat-links {

			&:before {
				content: "\2013";
				margin-left: 0.5em;
				margin-right: 0.5em;
				position: relative;
				top: -0.1em;
			}
		}
	}

	.entry-title {
		@extend .h2;
		margin-top: 0;
	}
}

.page-title {
	margin-top: rhythm(-1/2);
	margin-bottom: rhythm(2);
}

.search,
.archive,
.blog {

	.page-title {
		text-align: center;

		span {
			display: block;
			color: $dark;
			font-size: 0.75em;
		}
	}
}

.widget {
	border: 1px solid $borders;
	padding: rhythm(1);
	margin-bottom: rhythm(1/2);
}


.widget-title {
	@extend .h4;
	margin-top: 0;
	text-align: center;
}

// #JETPACK
.infinite-scroll {
	
	.posts-navigation {
		display: none;
	}

	.archive__grid {
		margin-bottom: 3em;
	}
}

#infinite-handle {
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	text-align: center;

	span {
		display: inline-block;
	}
}