 #masthead {
 	display: none;
 }

 #content {
 	margin-top: em(60px);
 }

 .archive__grid {
 	margin-left: em(-55px);

	> .grid__item {
		width: 50%;
		padding-left: em(55px);
		padding-bottom: em(30px);
		margin-bottom: em(55px);

		&:after {
			@extend .absolute;
			content: "";
			width: em(195px);
			bottom: 0;
			left: 50%;
			margin-left: em(-65px);
			border-bottom: 1px solid $secondary;
		}
	}

	.entry-header {
		text-align: center;
	}

	.entry-title {
		@extend .h2;
		margin-top: 0;
	}
 }