.entry-meta {
	@include font-size(12px);
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: $gray;


	a {
		color: currentColor;
	}

	sup {
		top: -0.15em;
	}
}

.archive__grid {
	transition: height .3s ease-in-out;

	> .grid__item {
		width: 100%;
		padding-bottom: em(30px);

		@include query-above($small) {
			width: 50%;
		}
	}

	.entry-content {
		@extend %gamma;
		@include fs(12px);
		@include baseline(12px);

		text-align: center;
	}

	.sticky {
		position: relative;

		&, .entry-title a, .entry-meta {
			color: white;
		}

		&:after {
			content: "";

			position: absolute;

			top: rem(-5px);
			@include query-above($small)    { top: rem(-12px); }

			bottom: rem(42px);

			right: rem(-5px);
			@include query-above($small)    { right: rem(-12px); }

			left: rem(5px);
			@include query-above($small)    { left: rem(12px); }
			@include query-above($lap)      { left: rem(24px); }
			@include query-above($desk)     { left: rem(42px); }

			pointer-events: none;
			background-color: $accent;

			z-index: -1;
		}
	}
}

.page-title {
	margin-bottom: 0;
}

.search,
.archive,
.blog {

	.page-header {
		text-align: center;
		margin-top: rhythm(-1/2);
		margin-bottom: rhythm(2);
	}

	.page-title {
		margin: 0;

		span {
			display: block;
			color: $dark;
			font-size: 0.75em;
		}
	}
}

.taxonomy-description {
	margin-top: rhythm(0.5);
	color: $gray;
}

// #JETPACK
.infinite-scroll {
	
	.posts-navigation {
		display: none;
	}

	.archive__grid {
		position: relative;
		margin-bottom: 3em;
	}
}

.infinite-loader {
	position: absolute;
	top: 100%;
	left: 50%;

	display: block !important;

	.spinner > div {
		display: none;
	}
}

#infinite-handle {
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	text-align: center;

	span {
		display: inline-block;
		vertical-align: middle;
		background: none;
	}

	span.handle__text {
		@extend %delta;
		letter-spacing: 0.2em;
		font-size: 1rem;
		background: none;
		color: $accent;
		text-transform: uppercase;

		display: inline-block;
		vertical-align: middle;
	}

	$clep-anim-duration: 3s;

	span.handle__icon {
		padding: 0;
		height: 16px;
		width: 15px;

		-webkit-animation: clep-anim $clep-anim-duration infinite;
		-moz-animation:    clep-anim $clep-anim-duration infinite;
		-o-animation:      clep-anim $clep-anim-duration infinite;
		animation:		   clep-anim $clep-anim-duration infinite;

		transform-origin: center center;
	}

	$fill-anim-duration: 3s;
	
	#fill {
		-webkit-animation: fill-anim $fill-anim-duration infinite;
		-moz-animation:    fill-anim $fill-anim-duration infinite;
		-o-animation:      fill-anim $fill-anim-duration infinite;
		animation:		   fill-anim $fill-anim-duration infinite;
	}
}

@-webkit-keyframes clep-anim {
	0%   { transform: rotate(0deg); }
	40%   { transform: rotate(0deg); }
	50%   { transform: rotate(180deg); }
	90%   { transform: rotate(180deg); }
	100% { transform: rotate(360deg); }
}

@-webkit-keyframes fill-anim {
	0%   { transform: translateY(0); }
	40%   { transform: translateY(7px); }
	90% { transform: translateY(-3px); }
	100% { transform: translateY(0); }
}

.featured-posts {
	margin-bottom: rem(80px);
}