.single, .page {

	.post {
		@include rhythm(margin-bottom, 3);
	}

	.entry-meta {
		@include font-size(12px);
		margin-bottom: em(10px);

		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: $gray;

		a{
			color: $gray;
			text-decoration: none;
		}
	}

	.intro-paragraph {
		@include fs(20px);

		&.intro-paragraph {
			line-height: em(22px);
		}
	}

	.entry-featured {
		@include rhythm(margin-top, 3.5);
		@include rhythm(margin-bottom, 2);

		@include query-below($lap) {
			@include rhythm(margin-top, 2);
		}

		@include query-above($desk) {
			@include rhythm(margin-bottom, 5);
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

    .entry-title {
        margin-top: 0;

		transform: none;

		@include fs(60px);

	    @include query-below($lap) {
		    @include rhythm(margin-bottom, 2, 30px);
	    }
    }

    .entry-content {
		@extend %clearfix;

		position: relative;

	    @include query-above($lap) {
		    @include font-size(14px);

		    p {
			    @include rhythm(margin-bottom, 3);
		    }
	    }

		> :last-child {
			margin-bottom: 0;
		}

		blockquote p {
			margin-bottom: 0;
			transform: none;
		}
    }

    .entry-footer{
		@extend %alpha;
		@include fs(14px);
		text-align: center;

		a{
			color: $dark;
			text-decoration: none;

			border-bottom: 1px solid $dark;
		}
    }

    .comments-area{
		@include rhythm(margin-top, 3);
		@include rhythm(padding-bottom, 3);
    }

} // .single, .page

.entry-content, .comment{

	dt {
		font-weight: bold;
	}

	dd {
		padding-left: 3em;
	}

	dd + dt {
		margin-top: 1.5em;
	}

	li:not([class]) {
		> ul:not([class])
		> ol:not([class]) {
			padding-left: 3em;
		}
	}

	ul, ol {
		margin-left: 1.5em;

		li {
			margin-bottom: 0.75em;
		}
	}
}

.entry-title{
	a{
		color: $dark;
	}
}

.single .post-edit-link{
	margin: 0 $u/2;
	text-decoration: underline;
}

.post-password-form {
//@todo to be continued
}

.error404, .search-no-results {
//@todo to be continued
}
