.site-main--single {

	.post {
		@include rhythm(margin-bottom, 3);
	}

	.entry-header{
		@include rhythm(margin-bottom, 5);
	}

	.intro-paragraph {
		@include fs(18px);
		margin-bottom: 0;

		&.intro-paragraph {
			line-height: em(22px);
		}
	}

	.entry-featured {
		@include rhythm(margin-bottom, 2);

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

    .entry-title {
        margin-top: 0;
		@include rhythm(margin-bottom, 2, 60px);

		transform: none;

		font-size: em(60px);

	    @include query-below($lap) {
		    @include rhythm(margin-bottom, 2, 30px);
	    }
    }

    .entry-content {
		@extend %clearfix;
		position: relative;

		// making room for the left sidebar (jetpack)
		@include query-above($lap) {
			.single-post &{
				padding-left: em(230px);
			}
		}

		p {
			@include fs(14px);

			@include query-above($lap) {
				@include rhythm(margin-bottom, 3);
			}
		}

		> :last-child {
			margin-bottom: 0;
		}

		blockquote p {
			margin-bottom: 0;
			transform: none;
		}
    }

    .entry-footer{
		@extend %alpha;
		@include fs(14px);
		text-align: center;

		// making room for the left sidebar (jetpack)
		@include query-above($lap) {
			.single-post &{
				margin-left: em(230px);
			}
		}

		a{
			color: $dark;
			text-decoration: none;

			border-bottom: 1px solid $dark;
		}
    }

    .comments-area{
		@include rhythm(margin-top, 3);
		@include rhythm(padding-bottom, 3);
    }

} // .site-main--single

.entry-content, .comment {

	dt {
		font-weight: bold;
	}

	dd {
		padding-left: 3em;
	}

	dd + dt {
		margin-top: 1.5em;
	}

	li:not([class]) {
		> ul:not([class])
		> ol:not([class]) {
			padding-left: 3em;
		}
	}

	ul, ol {
		margin-left: 1.5em;

		li {
			margin-bottom: 0.75em;
		}
	}
}

.single .post-edit-link {
	margin: 0 $u/2;
	text-decoration: underline;
}

.post-password-form, .search-form {
	label, input {
		display: inline-block;
	}
}

.error404, .search-no-results {
	// @todo to be continued
}

.page-links {
	margin: em(40px) 0;

	span, a {
		padding: em(12px) em(6px);
		text-decoration: underline;
	}

	span.current {
		text-decoration: none;
	}
}
span.pagination-title {
	font-weight: bold;
	text-decoration: none;
}

// Next / Previous links

.article-navigation {
	.post-meta {
		@extend %beta;
		@include fs(10px);

		margin-bottom: 8px;
	}

	.post-thumb {
		float: left;
		margin-right: 22px;

		img {
			display: block;
			height: 90px;
			width: auto;
			max-width: none;
		}
	}

	.post-title {
		@include fs(16px);
	}

	.post-category{
		text-transform: uppercase;

		&:before{
			content: '\2013';
			margin: 0 3px;
		}
	}

	.navigation-item__wrapper {
		@extend .clearfix;
	}
}

@include query-above($lap) {
	.article-navigation{
		.navigation-item{
			position: fixed;
			top: 50%;

			.navigation-item__content {
				position:relative;

				width:0;
				height:0;
				overflow:hidden;
				display: inline-block;
			}

			.navigation-item__wrapper {
				position:relative;
				left:-20px;

				padding: 12px;

				background: #191415;
				transition: all 0.3s linear;
				opacity:0;


				* {
					color: white;
				}
			}

			.arrow {
				position: absolute;
				top: 0;

				height: 50px;
				width: 50px;

				border: 1px solid $borders;

				&:before, &:after{
					position: absolute;

					top: 15px;

					display: block;
					height: 18px;
					width: 18px;
				}
			}

			.post-title {
				transform: none;
				margin: 0;
			}

			a:hover, a:focus {
				.navigation-item__content {
					width:auto;
					height:auto;

					max-width: 350px;
				}

				.navigation-item__wrapper {
					transition: all 0.3s linear;
					opacity: 1;
					left: 0px;
				}
			}
		}

		.navigation-item.hover-state{
			.arrow{
				background: black;
				border-color: black;

				&:before, &:after {
					border-color: white;
				}
			}
		}

		$arrow-color: $gray;

		.navigation-item--previous {
			left: 0;

			.arrow {
				left: 0;

				&:before {
					content: "";
					transform: rotate(45deg);
					left: 18px;

					border-left: 2px solid $arrow-color;
					border-bottom: 2px solid $arrow-color;
				}
			}
		}

		.navigation-item--next {
			right: 0;

			.navigation-item__wrapper {
				right:-20px;
				left:auto;
			}
			a:hover {
				.navigation-item__wrapper {
					right:0px;
					left:auto;
				}
			}

			.arrow {
				right: 0;

				&:after {
					content: "";
					transform: rotate(-45deg);
					right: 18px;

					border-right: 2px solid $arrow-color;
					border-bottom: 2px solid $arrow-color;
				}
			}
		}
	}
}


// Sharedaddy - in left sidebar

#jp-post-flair {
	position: absolute;
	top: 0;
	left: 0;

	width: em(190px);
}

.sharedaddy .sd-sharing-enabled {
	padding: em(20px);
	border: 1px solid $borders;

	text-transform: uppercase;

	*{
		letter-spacing: 0.1em;
	}

	.sd-title {
		@extend %delta;

		margin: 0;
		padding-bottom: em(12px);

		@include fs(12px);
		font-weight: bold;

		transform: none;
		border-bottom: 1px solid $gray;
	}

	.sd-content ul {
		@extend .nav;
		@extend .nav--stacked;

		@extend %delta;
		@include fs(12px);

	}

	a {
		color: $dark;
	}

	li {
		padding: em(14px) 0;
		margin: 0;
		border-bottom: 1px solid $borders;

		&:last-child {
			padding-bottom: 0;
			border-bottom: 0;
		}
		
		&.share-end:empty{
			display: none;
		}
	}
}


// Jetpack related posts - in left sidebar
.jp-relatedposts-post {
	@include rhythm(margin-bottom, 3);
}

.jp-relatedposts-post-excerpt, .jp-relatedposts-post-context {
	//@todo temp - because design
	display: none;
}

.jp-relatedposts-headline {
	@extend %delta;
	@include fs(12px);
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.1em;

	&, * {
		font-style: normal;
	}
}

.jp-relatedposts-post-a, .jp-relatedposts-post-img {
	display: block;
}

.jp-relatedposts-post-a {
	@include rhythm(margin-bottom, 0.5);
}

.jp-relatedposts-post-title {
	@extend %beta;
	@include fs(12px);
	text-transform: none;

	margin: 0;

	a{
		color: $dark;
		font-weight: 500;
	}
}